<div class="card">
    <div class="card-body">
        <h1>{{postagem.titulo}}</h1>
        <hr>
        <small>Data de publicação: {{postagem.data}}</small>
        <hr>
        <p class="text-justify" style="text-indent: 20px;">{{postagem.conteudo}}</p>
    </div>
</div>